*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor{
    background-color:rgb(37, 104, 204);
    color:rgb(0, 0, 129);
}

#barraNavegacion{
    background-color: rgb(0, 0, 129);
    display: flex;
    justify-content: space-around
}

li{
    color:white;
    text-decoration: none;
    align-self: center;
    list-style-type: none;
}

.formulario{
    width: 500px;
    margin: 10px auto;
    border: solid rgb(0, 0, 129) 2px;
    padding: 1rem;

}

#boton {
    text-align: center;    
  }


a{
    text-decoration: none;
    color: white;
}